*{margin: 0;
padding: 0;
box-sizing: border-box;}

body {
	font-family: 'lato', sans-serif;
}
main
{display: flex;
}
img{
	display: block;
}

.jumbotron,
article {
	padding: 20px;
	margin: 20px;
	
}

.container {
	background-color: rgb(216, 221, 231);
	border: 5px solid #f5e4c3;
	height: 800px;
	width: 750px;
	margin-top: 20px;
	
}

.container h2 {
	margin: auto;
	padding: 30px;
}